*{
    margin: 0;
    padding: 0;
}

html{
    background-color: pink;
}

img{
    width: 400px;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min;
}